<!-- Main content -->
<div class="container-fluid">
  <div class="row">

    {% for sub in subcategories %}
      <fieldset>
        <legend><h1><small>{{sub}}</small></h1></legend> <!-- Name of category -->
        {% include 'device.html' %}
      </fieldset>
    {% else %}
      <fieldset>
        <legend><h1><small>{{categorie}}</small></h1></legend> <!-- Name of category -->
        {% include 'device.html' %}
      </fieldset>
    {% endfor %}
  </div> <!-- /.row -->



</div> <!-- /.container-fluid -->
